/*Cascading Style Sheet*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
nav{
background-color: #000000;
}
footer.page-footer{
background-color:black;
}
/**/
.section {
  background: #1b2735
}
/*  SECTIONS  */
.sections {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

.alto{
height:145px;
}
.shadow{
box-shadow: 10px 10px grey;
}
.grid-sizer,
.grid-item {
    width: 32%;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.img-resize {
    /*width: 500px;
    height: 225px;*/
}