<template name="home">
    <div class="section block1 top">
        <div class="row container">
            <br>
            <br>
            <br>
            <div id='stars'></div>
            <div id='stars2'></div>
            <div id='stars3'></div>
            <center>
                <div>
                    <h2 class="white-text">Title</h2>
                    <h1 class="white-text"> Here You will be able to see the best projects from the appAcademy</h1>
                </div>
            </center>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>

    <div class="container">
        <h1>Description</h1>
        <hr>
        <div class="group">
            <h5>Here you will be able to see pictures of uploads of anything a user wishes to upload!</h5>
        </div>
    </div>

    <div class="container">
        <br>
        <br>
        <h1>Website Features</h1>
        <hr>
        <br>
        <div class="sections group">
            <div class="col span_1_of_3">
                <center>
                    <div class="card blue-grey darken-1 shadow">
                        <div class="card-content white-text alto">
                            <span class="card-title">Users</span>
                            <p>Add friends here</p>
                        </div>
                        <div class="card-action">
                            <a href="/search">Go &raquo;</a>
                        </div>
                    </div>
                </center>
            </div>
            <div class="col span_1_of_3">
                <center>
                    <div class="card blue-grey darken-1 shadow">

                        <div class="card-content white-text alto">
                            <span class="card-title">Gallery</span>
                            <p>All of the uploaded projects, including pictures and decsriptions</p>
                        </div>
                        <div class="card-action">
                            <a href="/gallery">Go &raquo;</a>
                        </div>
                    </div>
                </center>
            </div>
            <div class="col span_1_of_3">
                <center>
                    <div class="card blue-grey darken-1 shadow">
                        <div class="card-content white-text alto">
                            <span class="card-title">Liked Projects</span>
                            <p>Liked Projects from gallery</p>
                        </div>
                        <div class="card-action">
                            <a href="/liked">Go &raquo;</a>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</template>