<template name="profile">
    <div class="section block1 top">
        <div class="row container">
            <br>
            <br>
            <br>
            <div id='stars'></div>
            <div id='stars2'></div>
            <div id='stars3'></div>
            <center>
                <div>
                    <h2 class="white-text">{{username}}</h2>
                    <h1 class="white-text">Profile</h1>
                </div>
            </center>
            <br>
            <center><a href="/" class="waves-effect waves-light btn">Back</a></center>
            <br>
            <br>
            <br>
        </div>
    </div>
        <div class="container">
            
            <h1>Message</h1>
            <hr>
            <br>
        </div>
    
     <div class="container large">
        <ul class="collection">
            {{#each postList}}

            <li class="chip">
                {{this.name}}
            </li>
            <br>
            <span>{{this.createdAt}}</span>
            <br>
            <span>{{this.username}}</span>
            <br> {{/each}}
        </ul>
    </div>
    <br>

    <div class="container page-footer">
        <div class="card-panel">
            <form class="nouvelle-message">

                <div class="input-field">
                    <input type="text" placeholder="New Message" />
                </div>
                <div class="center-button">
                    <button class="waves-effect waves-light btn">Submit</button>
                </div>

            </form>
        </div>
    </div>
</template>