<template name="ApplicationLayout">
    <header>
        <title>Final</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    </header>

    <body>
        <header>
            <nav role="navigation">
                <div class="nav-wrapper container">
                    <a href="#" id="logo-container" class="brand-logo">Final</a>
                    <ul class="right">
                        <li>{{> loginButtons align=right}}</li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {{> yield}}
        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                    @RoblesC
                </div>
            </div>
        </footer>
    </body>
</template>