 <template name="search">
<div class="section block1 top">
        <div class="row container">
            <br>
            <br>
            <br>
            <div id='stars'></div>
            <div id='stars2'></div>
            <div id='stars3'></div>
            <center>
                <div>
                    <h2 class="white-text">No Name</h2>
                    <h1 class="white-text"> Look for your friends here!</h1>
                </div>
            </center>
            <br>
            <center><a href="/" class="waves-effect waves-light btn">Back</a></center>
            <br>
            <br>
            <br>
        </div>
     </div>

    <div class="container">
        <br>
        <br>
        <h4 class="search-title align-center">Find your Freinds</h4>
        <div class="row">
            <i class="material-icons medium col s1">search</i>
            <div class="col s11">{{>EasySearch.Input index=usersIndex}}</div>
        </div>
        <ul class="collection">
            {{#EasySearch.Each index=usersIndex}}
            <li class="collection-item">
                <div>
                    <a href="/profile/{{_id}}">{{username}}</a>
                    <!---->
                    {{#unless isYou}}
                    <!---->
                    {{#if friended}}
                    <div class="secondary-content">
                        <i class="material-icons">done</i>
                    </div>
                    {{else}}
                    <a href="#!" class="add-friend secondary-content">
                        <i class="material-icons">person_add</i>
                    </a>
                    {{/if}}
                    <!---->
                    {{/unless}}
                </div>
            </li>
            {{/EasySearch.Each}}
        </ul>
    </div>
     </template>