<template name="liked">
       <div class="section block1 top">
        <div class="row container">
            <br>
            <br>
            <br>
            
            <div id='stars'></div>
            <div id='stars2'></div>
            <center>
                <div>
                    <h2 class="white-text">Title</h2>
                    <h1 class="white-text">Gallery of Liked Pictures</h1>
                </div>
            </center>
            <br>
            <center><a href="/" class="waves-effect waves-light btn">Back</a></center>
            <br>
            <br>
            <br>
        </div>
    </div>
{{#if likes}} {{#each likes}}
    <div class="container">
    <div class="card">
            <div class="card-image">
              <img src="{{this.url}}">
              <span class="card-title">{{this.name}}</span>
            </div>
            <div class="card-content">
              {{this.message}} {{this.uploadedAt}}
            </div>
            <div class="card-action">
                
            </div>
          </div>
        </div>{{/each}}{{/if}}
</template>