<template name="gallery">
    <div class="section block1 top">
        <div class="row container">
            <br>
            <br>
            <br>
            
            <div id='stars'></div>
            <div id='stars2'></div>
            <center>
                <div>
                    <h2 class="white-text">Title</h2>
                    <h1 class="white-text">Gallery of uploads</h1>
                </div>
            </center>
            <br>
            <center><a href="/" class="waves-effect waves-light btn">Back</a></center>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="container">
        <br>
        <h1>Posts</h1>
        <hr>
        <br> {{> post}}

        <br>
        <br>

        <h1>Upload</h1>
        <hr> {{> form}}

    </div>
</template>
<template name="form">
    <div class="container">
        <form>
            <div>
                <div>
                    <input name="myForm" onsubmit="return validateForm()" type="file">
                </div>
            </div>
            <br>
            <button class="btn btn-info">Submit</button>
            <button class="btn btn-info" type="reset" value="Reset">Reset</button>
        </form>
    </div>
</template>
<template name="post">
    {{#each postList}}
    <div class="card">
            <div class="card-image">
              <img src="{{this.url}}">
              <span class="card-title">{{this.name}}</span>
            </div>
            <div class="card-content">
              {{this.message}} {{this.uploadedAt}}
            </div>
            <div class="card-action">
                {{#if liked}}
                <i class="material-icons">done</i>
                {{else}}
                <a href="#!" class="liked">
                <i class="material-icons">thumb_up</i>
                    </a>
                {{/if}}
            </div>
    </div>
    {{/each}}
    <div id='stars2'></div>
</template>


            